# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Bases de datos locales
*.sqlite3
*.db
consultorio.db

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore

# Otros
.DS_Store
.gemini/
